

<div class="users index page-content">
 <div class="container">
  <div class = "card">
  

<div class="card-body content-card">
<img class="card-img-top" src="http://www.queencharlotte.ca/sites/queencharlotte.civicwebcms.com/files/media/banner-sunset.jpg" alt="Card image cap">
  <br><br><h2 class = "card-title">Sign up</h2>
<%= link_to("<< Back to List", users_path, :class => 'back-link') %>
  <%= form_for(@user, :url => users_path, :method => 'post') do |f| %>

    <table class="table table-striped" summary="User form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:display_name) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><%= f.text_field(:password) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create User") %>
    </div>
</div>
</div>
</div>
  <% end %>
</div>
